includes:
	- vendor/phpstan/phpstan-phpunit/extension.neon

parameters:
	ignoreErrors:
		-
			message: '#.does\s+not\s+accept\s+PHPUnit\\Framework\\MockObject\\MockObject#'
			path: %currentWorkingDirectory%/tests/*
		-
			message: '#.\MockObject\s+given#'
			path: %currentWorkingDirectory%/tests/*
