includes:
	- vendor/phpstan/phpstan-phpunit/extension.neon

parameters:
	ignoreErrors:
		-
			message: '#.\MockObject\s+given#'
			path: %currentWorkingDirectory%/tests/*
		-
			message: '#expects\s+callable\(\)\:\s+mixed#'
			path: %currentWorkingDirectory%/tests/*
		-
			message: '#Function\s+#'
			path: %currentWorkingDirectory%/tests/DI/Module/Services/common.php*
